.animeCardWrapper {
  border: 2px solid brown;
  border-radius: 5px;
  min-width: 350px;
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  display: flex;
}
.animeCardWrapper .imageContainer {
  position: relative;
  flex: 1;
  height: 100%;
}
.animeCardWrapper .content {
  padding: 5px 10px;
  flex: 2;
}

.animeCardWrapper .content .title {
  line-clamp: 1;
  margin-bottom: 10px;
}

.themesContainer {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.themesContainer .themeWrapper {
  background-color: brown;
  color: white;
  padding: 5px 10px;
  font-size: .8rem;
  border-radius: 50px;
}