.headerContainer {
  position: relative;
  padding: 10px 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 10%;
  height: 12px;
  background-color: brown;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.headerContainer ul {
  list-style-type: none;
}

.headerContainer ul li {
  display: inline-block;
  margin-inline-start: 10px;
  font-size: 1.1rem;
  color: #383838;
}

.headerContainer ul li:hover {
  color: brown;
}