.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.heroSection .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.heroSection .title h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.heroSection .title h1:first-letter {
  font-size: 4rem;
  color: brown
}

.heroSection .title span {
  color: gray;
  font-style: italic;
  text-align: start;
}

.heroSection .paragraph {
  line-height: 150%;
  margin: 30px 0;
  text-align: start;
  text-indent: 6rem;
}
.heroSection .paragraph:first-letter {
  font-size: 2rem;
  font-weight: bold;
}

.pillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}

.pillWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 5px solid brown;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.pillWrapper:hover {
  transform: scale(1.15);
}

.section {
  margin: 100px auto;
}
.section .title {
  margin: 50px 0;
  padding: 0 15px;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: brown ;
}

.animesContainer {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 90px;
}

@media screen and (max-width: 780px) {
  .heroSection {
    width: 100%;
  }
  .heroSection .title h1 {
    font-size: 2.5rem;
  }
  .heroSection .paragraph {
    text-indent: 0;
    text-align: center;
  }

  .animesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
}


